*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: Verdana, sans-serif;
  background-image: url('../img/background.png');
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome / Safari / Edge */
}

a {
  text-decoration: none;
  color: #212121;
}

.wrap {
  height: 100vh; /* 撐滿整個視窗 */
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.content {
  flex: 1;
}

@media (max-width: 1440px) {
  html {
    font-size: 14px; /* 調整字體大小 */
  }
}

@media (max-width: 980px) {
  html {
    font-size: 13px; /* 調整字體大小 */
  }
}

@media (max-width: 520px) {
}

/* ----------------------  header  ------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  background-color: #ffffff99;
  backdrop-filter: blur(10px); /* 毛玻璃模糊 */
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8.125rem;
  padding: 1.25rem 0px;
}

.header .navbar_left {
  display: flex;
  align-items: center;
  gap: 2.25rem;
}

.navbar_left h1 img {
  max-width: 100%;
}

.nav-dropdown-menu .search_txtbox,
.navbar_left .search_txtbox {
  padding: 0.5rem 2.5rem 0.5rem 1.25rem;

  background-color: #f2f2f2;
  border: 1px solid #d4d4d4;
  border-radius: 100px;
}

.nav-dropdown-menu .search_txtbox::placeholder,
.navbar_left .search_txtbox::placeholder {
  color: #d4d4d4;
}

.nav-dropdown-menu .search_txtbox:-webkit-autofill .navbar_left .search_txtbox:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f2f2f2 inset !important;
  box-shadow: 0 0 0 1000px #f2f2f2 inset !important;
  -webkit-text-fill-color: #000 !important; /* 文字顏色可自訂 */
}

.nav-dropdown-menu form,
.navbar_left form {
  position: relative;
}

.nav-dropdown-menu .search_btn,
.navbar_left .search_btn {
  width: 1.25rem;
  height: 1.25rem;

  border: none;
  cursor: pointer;
  background: url('../img/search.png');
  background-size: cover;
  background-repeat: no-repeat;

  position: absolute;
  top: 27%;
  right: 8%;
}

.navbar_left .lang_toggle {
  display: flex;
  gap: 0.25rem;
  padding: 0.3125rem 0.5rem;

  border: 1px solid #d4d4d4;
  border-radius: 100px;

  font-size: 0.75rem; /* 12px */
  background-color: #f2f2f2;
}

.lang_toggle .lang_option {
  padding: 0.34rem 0.5rem;

  text-align: center;
  color: #939393;
  border-radius: 40px;

  cursor: pointer;

  transition: background-color 0.5s ease;
}

.lang_toggle .active {
  color: #ffffff;
  background-color: #eec753;

  font-weight: bold;
}

.header .navbar_right {
  display: flex;
  align-items: center;
  gap: 1.75rem;

  font-weight: bold;
  font-size: 0.9375rem; /* 15px */
}

.navbar_right .nav_link {
  display: flex;
  gap: 1.875rem;
}

.nav-dropdown-menu .nav_link a,
.navbar_right .nav_link a {
  display: block;
  padding: 0.5rem 0.1875rem;

  border: 1px solid transparent;
  color: #5b5b5b;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-dropdown-menu .nav_link a:hover,
.navbar_right .nav_link a:hover {
  color: #b1d6ca;
}

.nav-dropdown-menu .nav_link a:focus,
.navbar_right .nav_link a:focus {
  border: 1px dashed #c1e9dc;
}

.login_btn,
.logout_btn {
  padding: 0.75rem 1.125rem;

  font-size: 0.875rem;
  color: #5b5b5b;

  border-radius: 100px;
  border: 2px solid #5b5b5b;
  background-color: transparent;

  transition: background-color 0.5s ease;
}

.login_btn:hover,
.login_btn:active,
.logout_btn:hover,
.logout_btn:active {
  color: #ffffff;
  background-color: #333333;
}

/* -------- user-dropdown -------- */
.user-dropdown {
  position: relative;
  display: inline-block;
}

.user-dropdown .user-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  color: #5b5b5b;
  transition: color 0.3s ease;

  cursor: pointer;
}

#userPicture {
  max-width: 48px;
  border: 2px solid #5b5b5b;
  border-radius: 50%;
}

.user-dropdown .custom-dropdown-menu {
  position: absolute;
  top: 120%;
  right: 0;
  max-width: 180px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;

  /* 動畫相關 */
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.5s ease;
  pointer-events: none;
}

.custom-dropdown-menu.active {
  max-height: 500px; /* 足夠容納整個選單 */
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.user-dropdown .dropdown-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 1.25rem;
  background-color: #edf6f3;
  color: #939393;
}

.user-dropdown ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1.25rem;
  color: #5b5b5b;

  width: 18.75rem;
}

.user-dropdown li {
  padding: 0.25rem 0px;
}

.user-dropdown a {
  display: block;
}

.user-dropdown a:hover {
  color: #5b5b5b;
  text-decoration: underline;
}

  .nav-dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;

    font-size: 1.2rem;

    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.8s ease;
  }

  .nav-dropdown-menu.active {
    max-height: 400px; /* 寫比內容大的高度就好 */
    padding: 1.25rem 2.5rem;
    opacity: 1;
  }

.nav-dropdown-menu .search,
.nav-dropdown {
  display: none;
}

.nav-dropdown .nav-toggle .nav-toggle-icon{
  display: inline-block;
  width: 24px; height: 24px;
  background: url('../img/nav_toggle.svg') center/cover no-repeat;
  transition: background 0.3s;
}

.nav-toggle.active .nav-toggle-icon {
  background: url('../img/nav-close.svg') center/cover no-repeat;
}

@media (max-width: 1440px) {
  .header_container {
    gap: 4.375rem; /* 調整間距 */
  }

  .header .navbar_left {
    gap: 2rem;
  }

  .navbar_right .nav_link {
    gap: 1.25rem;
  }

  #userPicture {
    max-width: 40px; /* 調整使用者圖片大小 */
  }
}

@media (max-width: 1020px) {
  .header .navbar_right {
    display: none; /* 隱藏特定元素 */
  }

  .nav-dropdown {
    display: block;
  }

  .header .navbar_left {
    gap: 3rem;
  }

  .nav-dropdown-menu .nav_link {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    text-align: center;
  }

  .nav-dropdown-menu .login_btn,
  .nav-dropdown-menu .logout_btn {
    width: 100%;
    text-align: center;
    font-size: 1rem;
  }

  .nav-dropdown-menu .user-toggle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  .nav-dropdown-menu .user-toggle #userPicture {
    max-width: 60px; /* 調整使用者圖片大小 */
  }

  .nav-dropdown-menu .user-info {
    display: flex;
    gap: 1.5rem;
  }

  .nav-dropdown-menu .user-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .nav-dropdown-menu .user-detail span {
    font-weight: bold;
  }

  .levelName {
    color: #939393;
  }

  .nav-dropdown-menu .user-detail .dropdown-header {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }
}

@media (max-width: 520px) {
  .search {
    display: none; /* 隱藏搜尋欄 */
  }

  .nav-dropdown-menu .search {
    display: block;
    width: 100%;
  }

  .nav-dropdown-menu .search_txtbox {
    width: 100%;
  }

  .nav-dropdown-menu .search_btn {
    right: 5%;
    top: 25%;
  }
}

/* ----------------------  footer  ------------------------- */
.footer {
  background-color: #ffffff;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  padding: 3.125rem 0;
}

.footer_left img {
  max-width: 51%;
}

.footer_right .contact_item,
.footer_left .contact_item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  margin-top: 2rem;
  margin-bottom: 2.5rem;

  color: #212121;
}

.footer_bottom p,
.footer_left p {
  font-size: 0.875rem;
  color: #939393;
}

.footer_middle {
  display: flex;
  flex-wrap: wrap;
  gap: 3.75rem;
}

.footer_middle ul {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.footer_middle h4 {
  padding: 0.5rem 0.75rem;

  color: #333333;
  font-weight: bold;
}

.footer_middle a {
  display: block;
  padding: 0.5rem 0.75rem;

  color: #212121;
  border: 1px solid transparent;
  transition: color 0.3s ease;
}

.footer_middle a:hover {
  color: #b1d6ca;
}

.footer_middle a:focus {
  border: 1px dashed #c1e9dc;
}

.footer_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.footer_right .community_item {
  display: flex;
  justify-content: right;
  gap: 0.75rem;
}

.community_item a {
  display: block;
  padding: 0.5rem;
}

.community-circle {
  width: 2.5rem; /* 40px */
  height: 2.5rem; /* 40px */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.3125rem;

  transition:
    background-color 0.5s ease,
    transform 0.5s ease;
}

.community-circle:hover {
  background-color: #e4e2e2; /* 淺灰色圓背景 */
  cursor: pointer;

  transform: translateY(-2px); /* 微微上移一點 */
}

.footer_right p {
  color: #939393;
  font-size: 0.75rem; /* 12px */
  line-height: 1.6;
}

.footer_right .contact_item,
.footer_bottom {
  display: none;
}

@media (max-width: 1440px) {
  .container {
    padding: 1.25rem; /* 調整容器內邊距 */
  }
}

@media (max-width: 1439px) {
  .m-none-right {
    display: none; /* 隱藏特定元素 */
  }
}

@media (max-width: 980px) {
  .footer_left .contact_item,
  .m-none-left {
    display: none; /* 隱藏特定元素 */
  }

  .footer_right .contact_item,
  .footer_bottom {
    display: block;
  }

  .footer_left {
    text-align: center;
  }

  .footer_left img {
    max-width: 20%;
  }

  .footer_container {
    flex-direction: column;
    gap: 1.5rem;
  }

  .footer_middle {
    justify-content: space-around;
  }

  .footer_right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer_right .contact_item {
    text-align: left;
  }

  .footer_bottom {
    text-align: center;
  }
}

@media (max-width: 520px) {
  .footer_left {
    text-align: left;
  }

  .footer_left img {
    max-width: 30%;
  }

  .footer_middle {
    justify-content: flex-start;
    gap: 2.5rem;
  }

  .footer_middle ul {
    width: 45%;
  }

  .footer_right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

/* 客服按鈕 */
.chat-widget {
  position: fixed;
  bottom: 35px;
  right: 30px;
  text-align: center;
  z-index: 1000;
}

.chat-widget img {
  max-width: 88%;
  cursor: pointer;
}

.speech-bubble {
  display: inline-block;
  background-color: #bce0d5;
  color: #222;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  font-size: 0.875rem; /* 14px */
  font-weight: bold;
  position: absolute;
  bottom: 100%; /* 放在圖片正上方 */
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0.625rem; /* 10px */
  white-space: nowrap;
}

/* 小箭頭也要調整位置 */
.speech-bubble::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #bce0d5;
}

.car-image {
  transition: transform 0.3s ease;
}

.chat-widget:hover .car-image {
  transform: translate(-5px, -5px) rotate(5deg); /* 往左上翹一點 */
}

@media (max-width: 1440px) {
  .chat-widget img {
    max-width: 70%;
  }

  .chat-widget {
    bottom: 1px;
    right: 1px;
  }
}

@media (max-width: 980px) {
  .chat-widget img {
    max-width: 50%;
  }

  .speech-bubble {
    padding: 0.3rem 0.8rem;
  }

  /* 小箭頭也要調整位置 */
  .speech-bubble::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #bce0d5;
  }
}

@media (max-width: 520px) {
}

/* ----------------------  error  ------------------------- */
.error-page {
  max-width: 1200px;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-page h2 {
  font-size: 2.5rem; /* 40px */
  font-weight: bold;
  text-align: center;

  margin-bottom: 1.875rem; /* 30px */
  color: #333333;
}

.error-page #error_img {
  width: 450px;
  margin: 0px;
}

@media (max-width: 990px) {
  .error-page {
    padding: 1.5rem;
  }

  .error-page #error_img {
    width: 400px;
  }
}

@media (max-width: 520px) {
  .error-page h2 {
    font-size: 2rem;
  }

  .error-page #error_img {
    width: 300px;
  }
}
